# This is a CODEOWNERS file.
# Each line is a file pattern followed by one or more owners.
# These owners will be requested for review when someone opens a pull request that modifies code they own.

# Assign the entire repository to the devops user
*       @devops-itsware

# Assign specific directories to the devops user
/docs/  @devops-itsware
/src/   @devops-itsware

# Assign specific files to the devops user
README.md   @devops-itsware
